:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  padding-bottom: 0 auto;
  padding-top: 150px;
  margin: 0 auto;
  place-content: center;

  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: #ffffff;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    stroke: #ffffff;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
    stroke: #ffffff;
  }
}
