.price-info {
  .rate {
    background-color: #f8f8f8;
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  .capitalize {
    font-size: 2.5em;
    vertical-align: bottom;
    padding: 0;
  }
  .difference {
    font-size: 0.8em;
  }
  .diff-indicator {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .header {
    .currency {
      color: #626262 !important;
      font-size: 0.95em;
    }
    .date {
      font-size: 0.8em;
      line-height: 1.7;
      color: grey;
    }
  }
  .rate:hover {
    background-color: #ff274b;
    color: white;
  }
  .rate:hover .info-title {
    color: #962339;
  }

  .info-title {
    color: #626262;
    font-weight: bold;
    font-size: 0.8em;
    transition-duration: 0.5s;
  }
  .va-top {
    vertical-align: top;
  }
  .va-bottom {
    vertical-align: bottom;
  }
}
