<form class="w-100" [formGroup]="form">
    <div class="text-center mb-5 text-gray-400">
      Approve {{ currencyName }} to allow trade settlement up to approved amount.
    </div>
    <div class="my-5 mb-7 flex justify-center">
      <input type="number"
             class="py-2.5 px-4 w-40 rounded bg-dark-light text-white focus:outline-none"
             style="text-align: center;"
             placeholder="Allowance"
             formControlName="amount"/>
    </div>
    <div class="flex justify-center">
      <button type="button" class="btn-primary" (click)="updateAllowance()" [disabled]="status != 'idle'">
        <p *ngIf="status == 'idle'">Approve {{ currencyName }}</p>
        <spinner-circular *ngIf="status == 'waiting'"></spinner-circular>
      </button>
    </div>
</form>
