<form class="w-100" [formGroup]="form">
    <div class="row text-center mb-2">
      <h6 class="fw-normal">{{ currencyName }} Allowance</h6>
    </div>
    <div class="form-group">
        <p-inputNumber formControlName="amount"
                       styleClass="w-100"
                       inputStyleClass="form-control-override"
                       [showButtons]="true"
                       [step]="0.001"
                       [min]="0"></p-inputNumber>
    </div>
    <div class="row my-3 text-center">
      <div class="col">
        Approve {{ currencyName }} to allow trade settlement up to approved amount.
      </div>
    </div>
    <div class="row justify-content-end mt-4">
      <div class="col-auto">
        <button type="button" class="btn btn-primary mx-2" (click)="updateAllowance()">Approve {{ currencyName }}</button>
        <button type="button" class="btn btn-primary mx-2" (click)="cancel()">Cancel</button>
      </div>
    </div>
</form>
