<app-steps [activeIndex]=1></app-steps>
<form action="" class="my-4" [formGroup]="form">

  <div class="form-group">
    <p-dropdown
      styleClass="form-control"
      formControlName="currencyPair"
      [options]="currencies"
      (onChange)="changePair()"></p-dropdown>
  </div>

  <div class="row justify-content-center align-items-center py-3">
    <div class="col-auto">SELL | {{ sellToken }}</div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="changeCurrencySides()">SWITCH</button>
    </div>
    <div class="col-auto">{{ buyToken }} | BUY</div>
  </div>

  <div class="row align-items-center my-3 mb-4">

    <div class="col">
      <div>I sell</div>
      <p-inputNumber formControlName="sellAmount"
                     minFractionDigits="3"
                     maxFractionDigits="15"
                     [showButtons]="true"
                     [step]="0.001"
                     [min]="0"></p-inputNumber>
      {{ sellToken }}
      <div class="text-danger">
        <span *ngIf="form.controls.sellAmount.invalid">
          {{ form.controls.sellAmount.errors | validationMessage }}
        </span>
        <span>&nbsp;</span>
      </div>
    </div>

    <div class="col row align-items-center">
      <div class="col-6">
        Approved<br/> {{ approveAmount }} {{ sellToken }}
        <div class="text-danger">
          <span *ngIf="form.controls.sellAmount.hasError('allowance')">
            Allowance too low
          </span>
          <span></span>
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-primary" [disabled]="!isSession()" (click)="showAllowanceDialog()">Approve {{ sellToken }}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <div class="row align-items-center my-4">
        <div class="col">EHT Balance: <strong>{{ ethBalance }}</strong></div>
        <div class="col">
          <button class="btn btn-primary w-100" [disabled]="!isSession()">Wrap ETH</button>
        </div>
      </div>

      <div class="row align-items-center mt-4">
        <div class="col">{{ base }} Balance: <strong>{{ baseBalance }}</strong></div>
        <div class="col">
          <button class="btn btn-primary w-100" [disabled]="!isSession()">Unwrap {{ sellToken }}</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 my-4 text-center">
          <div>Indicative bid</div>
          <div><strong>{{ bidRate | number}}</strong></div>
        </div>
        <div class="col-6 my-4 text-center">
          <div>Indicative ask</div>
          <div><strong>{{ askRate | number}}</strong></div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          Max Liquidity: 0
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center my-4">
    <div class="col">{{ quote }} Balance: <strong>{{ quoteBalance }}</strong></div>
    <div class="col">
      <button class="btn btn-primary w-100" (click)="showCreateSessionDialog()" *ngIf="!isSession()" >CREATE SESSION</button>
      <button class="btn btn-primary w-100" [disabled]="disableQuote()" *ngIf="isSession()" (click)="getQuote()">GET QUOTE</button>
    </div>
  </div>
</form>
<p-toast></p-toast>
