<div class="flex justify-center mt-12">
  <div class="rounded bg-dark w-1/4 py-1 px-4"  style="max-width: 475px">
    <form action="" class="my-4" [formGroup]="form">
      <div class="flex justify-between items-center">
        <h2 class="font-bold text-white text-xl">Trade</h2>
        <i class="pi pi-cog text-gray-400"></i>
      </div>
      <div class="my-5">
        <label for="pair" class="text-gray-400 text-sm">Pair</label>
        <p-dropdown
          styleClass="w-full px-2"
          panelStyleClass="text-white bg-dark-light"
          formControlName="currencyPair"
          [options]="currencies"
          id="pair"
          (onChange)="changePair()"></p-dropdown>
      </div>
      <div class="my-5">
        <p class="text-gray-400 text-sm">Indicative quotes</p>
        <div class="rounded border border-gray-800 flex">
          <div class="w-2/4 text-center py-1">
            <div class="font-bold text-lg text-white">{{ bidRate == 0 ? '-' : (bidRate | number: '1.2-6')}}</div>
            <div class="font-semibold text-sm text-gray-500">BID</div>
          </div>
          <div class="w-2/4 text-center border-0 border-l border-gray-800 py-1">
            <div class="font-bold text-lg text-white">{{ askRate == 0 ? '-' : (askRate | number: '1.2-6')}}</div>
            <div class="font-semibold text-sm text-gray-500">ASK</div>
          </div>
        </div>
      </div>
      <div class="my-5">
        <p class="text-gray-400 text-sm">Side</p>
        <div class="rounded flex items-center">
          <div class="w-2/4 text-center pt-3 pb-2.5 text-sm font-semibold text-white"
               (click)="changeCurrencySides(1)"
               [ngClass]="isOperationSelected(1)
                ? 'bg-main hover:bg-main cursor-default' : 'cursor-pointer  hover:bg-main-dark bg-dark-light'">
            SELL {{base}} / BUY {{quote}}
          </div>
          <div class="w-2/4 text-center pt-3 pb-2.5 text-sm font-semibold hover:bg-main-dark text-white"
               (click)="changeCurrencySides(2)"
                [ngClass]="isOperationSelected(2)
                ? 'bg-main hover:bg-main cursor-default' : 'cursor-pointer  hover:bg-main-dark bg-dark-light'">
            SELL {{quote}} / BUY {{base}}
          </div>
        </div>
      </div>
      <div class="my-5">
        <label for="amount" class="text-gray-400 text-sm">I sell</label><br/>
        <div class="bg-dark-light rounded h-10 flex items-center">
          <input type="number"
                 id="amount"
                 class="h-full w-4/5 px-3 rounded bg-dark-light text-white focus:outline-none"
                 formControlName="sellAmount">
          <div class="text-right w-1/5 pr-3 font-semibold bg-dark-light text-white">{{sellToken}}</div>
        </div>
        <div class="text-sm font-semibold text-red-800 py-1">
          <div *ngIf="form.controls.sellAmount.hasError('sellTokenBalance')">Balance exceeded</div>
          <div *ngIf="form.controls.sellAmount.hasError('liquidity')">Max available liquidity: {{ maxLiquidity }} {{sellToken}}</div>
        </div>
      </div>

      <div class="flex justify-between text-sm my-2" style="padding-bottom: 20px;"  *ngIf="isWalletConnected()">
        <div class="text-gray-400">Balance: </div>
        <div class="font-semibold text-white" *ngIf="!balanceLoader">{{ sellBalance | number: '1.1-6' }} {{ sellToken }}</div>
        <spinner-circular *ngIf="balanceLoader"></spinner-circular>
        
      </div>

      <div class="flex justify-between text-sm mb-2">
        <div class="text-gray-400">Gas fee: </div>
        <div class="text-white">~ <span class="font-semibold">{{ gasPrice | number: '1.0-6' }} {{ sellToken }}</span></div>
      </div>

      <div class="flex justify-between text-sm my-2">
        <div class="text-gray-400">Amount to convert: </div>
        <div class="text-white">~ <span class="font-semibold">{{ (form.controls.sellAmount.value - gasPrice) | number: '1.0-8' }} {{ sellToken }}</span></div>
      </div>

      <div class="mt-6">
        <button type="button" class="py-2.5 w-full bg-main text-white rounded hover:bg-main-light"
                *ngIf="!isWalletConnected()"
                (click)="connectToWallet()">Connect to a wallet</button>

        <button type="button" class="py-2.5 w-full bg-main text-white rounded hover:bg-main-light"
                (click)="showCreateSessionDialog()"
                *ngIf="isWalletConnected() && !isSession() && !form.controls.sellAmount.hasError('allowance')"
                [disabled] = "sessionStatus != 'idle'"
                >
                  <p *ngIf="sessionStatus == 'idle'">Start session</p>
                  <div class="container mx-auto flex justify-center items-center" *ngIf="sessionStatus == 'waiting'">
                    <spinner-circular class="px-2"></spinner-circular>
                    <p>Pending...</p>
                  </div>
        </button>

        <button type="button" class="py-2.5 w-full bg-main text-white rounded disabled:opacity-50 hover:bg-main-light"
                (click)="showAllowanceDialog()"
                *ngIf="form.controls.sellAmount.hasError('allowance')"
                [disabled]="blockButton || approvalStatus != 'idle'"
                >
                <p *ngIf="approvalStatus == 'idle'">Approve {{ sellToken }}</p>
                <div class="container flex justify-center items-center" *ngIf="approvalStatus == 'waiting'">
                  <spinner-circular class="px-2"></spinner-circular>
                  <p>Waiting for approval finality</p>
                </div>
        </button>

        <button type="button" class="py-2.5 w-full bg-main text-white rounded disabled:opacity-50 hover:bg-main-light"
                (click)="getQuote()"
                *ngIf="isWalletConnected() && isSession() && !form.controls.sellAmount.hasError('allowance')"
                [disabled]="!form.controls.sellAmount.valid || blockButton || form.controls.sellAmount.value <= 0"
                > Get quote</button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
