<!--<app-steps [activeIndex]="3"></app-steps>-->
<!--<div class="my-4">-->
<!--  <div class="header text-center">-->
<!--    <h5>{{base}}/{{quote}}</h5>-->
<!--  </div>-->
<!--  <div class="summary">-->
<!--    <h6>Summary</h6>-->
<!--    <hr/>-->
<!--    <div class="row my-1">-->
<!--      <div class="col-5">Trade date</div>-->
<!--      <div class="col fw-bold">{{ tradeDate | date: 'MMM d, y, h:mm:ss z'}}</div>-->
<!--    </div>-->
<!--    <div class="row my-1 align-items-center">-->
<!--      <div class="col-5">Status</div>-->
<!--      <div class="col fw-bold" [ngClass]="{'text-success' : status == 'Filled', 'text-danger' : status == 'Failed' || status == 'Rejected'}">-->
<!--        {{status}}-->
<!--        <p-progressSpinner *ngIf="status == 'Pending'"-->
<!--          strokeWidth="1"-->
<!--          [style]="{'height': '25px', 'width' : '25px'}">-->
<!--        </p-progressSpinner>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr/>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Base currency</div>-->
<!--      <div class="col fw-bold">{{base}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Quote currency</div>-->
<!--      <div class="col fw-bold">{{quote}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Request action</div>-->
<!--      <div class="col fw-bold">{{action}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Indicative bid</div>-->
<!--      <div class="col fw-bold">{{bidPrice | number}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Indicative ask</div>-->
<!--      <div class="col fw-bold">{{askPrice | number}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Sell amount</div>-->
<!--      <div class="col fw-bold">{{sellAmount}}</div>-->
<!--    </div>-->
<!--    <div class="row my-2">-->
<!--      <div class="col-5">Buy amount</div>-->
<!--      <div class="col fw-bold">{{buyAmount | number}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row justify-content-end">-->
<!--    <div class="col-4">-->
<!--      <button class="btn btn-success" routerLink="/">Acknowledge</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="flex justify-center mt-12">
  <div class="rounded bg-white w-1/4 py-1 px-4 border border-gray-400"  style="max-width: 425px">
    <div class="flex flex-col justify-center items-center my-4">
      <div class="py-3">
        <p-progressSpinner *ngIf="status == 'pending' || status == 'posted'"
                           strokeWidth="3"
                           [style]="{'height': '40px', 'width' : '40px'}">
        </p-progressSpinner>
      </div>
      <i class="pi pi-check-circle text-green-800 py-3"
         style="font-size: 2.5rem"
         *ngIf="status == 'confirmed'"></i>
      <i class="pi pi-times-circle text-red-800 py-3"
         style="font-size: 2.5rem" *ngIf="status == 'rejected'"></i>
      <h2 class="font-bold text-xl">Transaction {{status.toLowerCase()}}
      </h2>
    </div>
    <div class="flex flex-wrap">
      <div class="w-1/2 text-center py-2.5">
        <div class="text-gray-500">You pay</div>
        <div class="font-bold text-lg">{{sellAmount | number : '1.1-8'}} {{sellToken}}</div>
        <div class="text-gray-500 text-sm">(incl. {{ gasPrice | number : '1.1-8' }} gas fee)</div>
      </div>
      <div class="w-1/2 text-center py-2.5 border-l border-gray-300">
        <div class="text-gray-500">You receive</div>
        <div class="font-bold text-lg">{{buyAmount | number : '1.1-8'}} {{buyToken}}</div>
      </div>
      <div class="w-1/2 text-center py-2.5">
        <div class="text-gray-500">Balance after trade</div>
        <div class="font-bold text-lg">{{sellBalance | number : '1.1-8'}} {{sellToken}}</div>
      </div>
      <div class="w-1/2 text-center py-2.5 border-l border-gray-300">
        <div class="text-gray-500">Balance after trade</div>
        <div class="font-bold text-lg">{{buyBalance | number : '1.1-8'}} {{buyToken}}</div>
      </div>
    </div>
    <div class="text-center mt-12 mb-8 font-bold text-2xl">
      Price: {{ price }}
    </div>
    <div class="text-center my-4">
      <a href="#" class="underline text-gray-500 hover:text-gray-800 font-semibold">Go to transaction history</a>
    </div>
    <div class="text-center my-4" *ngIf="status == 'confirmed'">
      <a href="https://explorer.harmony.one/tx/{{hash}}" target="_blank" class="underline text-gray-500 hover:text-gray-800 font-semibold">View on Etherscan</a>
    </div>
    <div class="my-5">
      <button class="py-3 px-4 w-full bg-gray-700 text-white rounded hover:bg-gray-600" routerLink="/">Close</button>
    </div>
  </div>
</div>
