<nav class="py-5 px-12">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <div><a routerLink="/"><h2 class="font-bold text-xl text-white">LLDEX</h2></a></div>
      <div class="flex gap-x-8 pl-24">
        <a href="#" routerLink="/" class="block text-gray-400 hover:text-white">Streaming</a>
        <a href="#" routerLink="/transaction-details" class="block text-gray-400 hover:text-white">Trade</a>
        <a href="#" class="block text-gray-400 hover:text-white">Transaction history</a>
        <a href="#" class="block text-gray-400 hover:text-white">Settings</a>
      </div>
    </div>

    <div class="flex gap-x-5">
      <div class="px-5 pt-2 pb-2 bg-main rounded text-white cursor-pointer hover:bg-main-light"
           *ngIf="!isWalletConnected()"
           (click)="connectToWallet()" >
        Connect to a wallet
      </div>

      <div class="px-5 pt-2.5 pb-1.5 bg-main rounded text-white cursor-pointer hover:bg-main-light"
           *ngIf="!session && isWalletConnected()" (click)="showCreateSessionDialog()">
        Start session
      </div>


      <div *ngIf="session" (click)="op.toggle($event)" class="px-5 pt-2 pb-1.5 bg-gray-900 border-2 border-gray-700 rounded-full text-white cursor-pointer font-bold flex">
        {{ getCountdown() }}
      </div>

      <div class="border-2 border-l-0 border-gray-700 rounded-full text-white bg-gray-900 cursor-pointer font-bold flex"
           [title]="walletAddress"
           *ngIf="isWalletConnected()">
        <div class="w-10 h-10 bg-white rounded-full">&nbsp;</div>
        <div class="py-2 px-3">{{ shortWalletAddress }}</div>
      </div>
    </div>

  </div>
</nav>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="text-center text-gray-400">Your address</div>
    <div class="text-center text-white"><strong>{{ address }}</strong></div>

    <div class="text-center mt-3 text-gray-400">Session public key</div>
    <div class="text-center text-white"><strong>{{ sessionPublicKey }}</strong></div>

    <div class="text-center mt-3 text-gray-400">Session expiration timestamp</div>
    <div class="text-center text-white"><strong>{{ expirationTimeStamp }}</strong></div>

    <div class="text-center mt-3 text-gray-400">Expires in</div>
    <div class="text-center text-white"><strong>{{ getCountdown() }}</strong></div>

    <div class="flex justify-center mt-4">
      <button class="px-5 pt-2.5 pb-2 bg-main rounded text-white cursor-pointer hover:bg-main-light" (click)="endSession()">Terminate session</button>
    </div>
  </ng-template>
</p-overlayPanel>
<p-toast></p-toast>
