<div class="w-3/5 mx-auto mt-16">
  <div class="flex flex-wrap">
    <app-exchange-rate [connection]="one_usdt" class="w-2/4"></app-exchange-rate>
    <app-exchange-rate [connection]="one_btc" class="w-2/4"></app-exchange-rate>
    <app-exchange-rate [connection]="eth_btc" class="w-2/4"></app-exchange-rate>
    <app-exchange-rate [connection]="eth_usdt" class="w-2/4"></app-exchange-rate>
    <app-exchange-rate [connection]="btc_usdt" class="w-2/4"></app-exchange-rate>


    <!-- <app-exchange-rate
      [connection]="weth_dai"
      class="w-2/4"></app-exchange-rate>
    <app-exchange-rate
      [connection]="weth_lldex"
      class="w-2/4"></app-exchange-rate> -->
<!--    <app-exchange-rate-->
<!--      [connection]="weth_dai"-->
<!--      class="w-2/4"></app-exchange-rate>-->
<!--    <app-exchange-rate-->
<!--      [connection]="weth_lldex"-->
<!--      class="w-2/4"></app-exchange-rate>-->
  </div>
</div>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"></p-confirmDialog>
<p-toast></p-toast>
