<!--<table class="bg-gray-200 px-5" (click)="redirectToDetails()">-->
<!--  <tr>-->
<!--    <td class="info-title va-bottom">{{ title }}</td>-->
<!--    <td rowspan="2" class="capitalize">{{ getMid() }}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="va-top">{{ getStart() }}</td>-->
<!--    <td class="va-top">{{ getEnd() }}</td>-->
<!--  </tr>-->
<!--</table>-->
<div class="mx-5 w-36 h-full bg-gray-100 hover:bg-red-600 hover:text-white rounded flex flex-col items-center justify-center"
     (click)="redirectToDetails()">
  <div class="font-bold text-sm text-gray-700">{{ title }}</div>
  <div class="font-bold text-lg">{{getStart()}}{{getMid()}}{{getEnd()}}</div>
</div>
