<app-steps [activeIndex]=2></app-steps>
<div>
  <div class="row my-4 mb-5">
    <h5 class="fw-normal">{{connectionInfo.title}}</h5>
  </div>
  <div class="row my-3">
    <div class="col-6 text-center">
      I sell <strong>10.421</strong> WETH
    </div>
    <div class="col-6 text-center">
      I buy <strong>34235.325</strong> DAI
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">

      <div class="row">
        <div class="col">WETH balance after swap: <strong>43.214</strong></div>
      </div>

      <div class="row">
        <div class="col">USDC balance after swap: <strong>64207.964</strong></div>
      </div>

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">Indicative ask: <strong>3406.65173</strong></div>
    <div class="col-6">Indicative bid: <strong>3406.63173</strong></div>
  </div>
  <div class="row">
    
  </div>

</div>
