<app-steps [activeIndex]=2></app-steps>
<div>
  <div class="row my-4 mb-5 pb-2 border-bottom">
    <h5 class="fw-normal">{{connectionInfo.title}}</h5>
  </div>
  <div class="row my-3 align-items-center">
    <div class="col-6 text-center">
      I sell <strong>{{ sellAmount }}</strong> {{ sellToken }}
    </div>
    <div class="col-6 text-center">
      I buy <strong>{{ buyAmount }}</strong> {{ buyToken }}
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">

      <div class="row">
        <div class="col">{{ base }} balance after swap: <strong>{{ this.baseBalance }}</strong></div>
      </div>

      <div class="row">
        <div class="col">{{ quote }} balance after swap: <strong>{{ this.quoteBalance }}</strong></div>
      </div>

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">Indicative ask: <strong>{{ ask | number}}</strong></div>
    <div class="col-6">Indicative bid: <strong>{{ bid | number}}</strong></div>
  </div>
  <div class="row mt-5 pt-4">
    <div class="col-5">
      <button class="btn btn-outline-warning w-100"
              [routerLink]="['/transaction-details']"
              [queryParams]="{pair: pair, type: operation, amount: sellAmount}">CANCEL</button></div>
    <div class="col-2"></div>
    <div class="col-5">
      <button class="btn btn-outline-success w-100" (click)="executeTrade()">CONFIRM</button>
    </div>
  </div>

</div>
